[2022-03-10 11:40] sercanEmakina opened #2 "Create Object"
asdasdas

[2022-03-10 12:29] sgoEma opened #3 "Implement Data Model for Event"
- I should be able to define events with the information such as name, address , start date , end date etc.
- I should not be able to create an event without start date
- I should be able to define evet type for the events  ( Dreamforce, Connections, World Tour).

[2022-03-10 12:32] sgoEma opened #4 "Implement Google Maps Section on Event Page"
I should be able to see the location of the event on Google maps in the event page

[2022-03-10 12:34] sgoEma opened #5 "Implement Data Model for Event Registration"
- An Attendee should be able to register for more than one events
- An event can have more than one attendees
- An Event registration must have an event and an attendee
- I should be able to define event registrations with information such as dietary needs of an attendee (Vegetarian, Gluten-free, Vegan, Diabetic, Other), registration fee, attendee type (Customer , Partner , Employee)
- Registratio

[2022-03-10 12:36] sgoEma opened #6 "Implementation on Event based on Event Registration"
- I should be able to track revenue for an event.
- I should be able to track the number of people who have registered for an event
- If an attandee registers for a Dreamforce event , they should also be registered automatically for the Welcome sesion under this event.

[2022-03-10 12:37] sgoEma opened #7 "Implement Data Model for Session"
- I should be able to define sessions related to events with the information such as room capacity for regular attendies, room capacity for VIP attendies , room name , level (beginner, intermediate,expert) , speaker name , session start datetime , session end datetime, speaker (this field should address the person who manage the session), CSAT Score
- I should be able to control visibility of sess

[2022-03-10 12:40] sgoEma opened #8 "Implement Data Model for Session Registration"
- A user who has an Access to a session record should have an Access to a registration records automatically
- An Attendee should be able to register for more than one sessions
- A session can have more than one attendees
- Registration can NOT be done without a session and an attandee
- I should be able to register an attendee to both events and sessions. Session Registration can not be created w

[2022-03-10 12:40] sgoEma opened #9 "Session Registration Validations"
- An attendee should not be able to register a session that overlaps
- An attendee can NOT register a session before registering to an event

[2022-03-10 12:40] sgoEma opened #10 "Implementation on Session based on Session Registration"
I should be able to see how many attendees are registered to a session on a session record

[2022-03-10 12:41] sgoEma opened #11 "Sample Data Creation"
- Create sample events for each event type
- Create sample sessions for each sample event , all events must have a session named Welcome session.
- Load data using CSV format and data loader or salesforce inspector.

[2022-03-11 06:23] t-gul commented on #3
@sgoEma @sercanEmakina
Do you want to write a special message when the event start day is not entered?
Do you want a separate page layout for each event type?

[2022-03-11 06:24] t-gul commented on #7
@sgoEma @sercanEmakina
Does the speaker have any additional information besides the name information?

[2022-03-11 08:08] sercanEmakina commented on #3
Hi @t-gul ,

1) I shouldn't have to write a message to anybody manually, the system should **SHOW / DISPLAY** a message automatically. The message content could be "Please fill out Start Date Field!".
2) Almost all type of events require the same kind of information. I think we don't need different pages to capture the same information, but it's your decision to make, after all you're the develope

[2022-03-11 08:14] sercanEmakina commented on #7
Hi @t-gul ,

Yes, I should be able to define first name , last name , email , phone and title of the speaker. Also When I hover over speaker field I should be able to see the details of the speaker on a session record such as email , title and phone

Best Regards,
Sercan / IT Specialist in Karşıyaka Tourism Office

[2022-03-15 14:41] bmtemakina commented on #7
- Will there be any situation like a user can access an event but not its session or some of its sessions because of the assigned profile.
- Will attendees rate the speaker for CSAT Score.

[2022-03-15 15:01] sgoEma commented on #7
@bmtemakina I should be able to see the contact information of the speaker such as Phone Number, Email Address. In the future, we are planning to add skills to the speaker to improve the event management system.

[2022-03-15 15:07] sercanEmakina commented on #7
Hi @bmtemakina ,

- Yes
- Ideally attendees should rate sessions

Best,
Sercan / IT Specialist in Karşıyaka Tourism Office

[2022-03-17 11:28] bmtemakina commented on #7
Can session exist without a speaker?

[2022-03-17 11:41] sercanEmakina commented on #7
Hi @bmtemakina ,

**Yes.**

Best,
Sercan / IT Specialist in Karşıyaka Tourism Office

[2022-03-25 11:05] sgoEma opened #22 "[BugFix] Event Registration External Id Fix"
BugFix. The external Id field should be case sensitive.

[2022-03-29 10:03] bmtemakina opened #26 "[BugFix] Public Event Record Page is Missing"
Puplic_Event_Record_Page is missing from flexipages file.

[2022-03-29 10:48] t-gul commented on #6
There was no Welcome session created before this task. Will we create it or wait for another task(not created  before). @sgoEma @sercanEmakina

[2022-03-29 10:51] sgoEma commented on #6
Yes, you need to create a "Welcome" session record for the test purpose. @t-gul

[2022-03-30 14:48] sgoEma opened #29 "Prevent Duplicate Event Creation"
Duplicate events should be prevented.

If name, country, city, street, start date (not time) and end date (not time) should not be the same.

[2022-03-30 14:48] sgoEma opened #30 "Map refresh after event changes"
When the address of an event is updated I should be able to see the map changes without refresh

[2022-03-30 14:48] sgoEma opened #31 "[SPIKE] Tools for address verification"
Investigate which tools we can use for the address verification

[2022-03-30 14:48] sgoEma opened #32 "Session capacity flag"
When room capacity is full, don't let session registration be created with the following message:

 "The capacity is full for this session. There is no additional seat for a new attendee"

[2022-03-30 14:48] sgoEma opened #33 "Multiple Speakers for Sessions"
1 speaker may not be enough for all the sessions. The speakers should not be attended to the multiple sessions if the sessions are at the same time.

- Speaker can attend multiple Sessions
- Session can have multiple speakers.
- A speaker can not attend multiple sessions at the same time
- There should be at least 1 hour between the speakers sessions.

[2022-03-30 14:48] sgoEma opened #34 "Layout Improvements"
The necessary fields should be added to the related lists:

- Sessions under Event
- Event Registration under Event
- Session Registration under Session
- Contact under Event Registration
- Contact under Session Registration

[2022-03-30 14:48] sgoEma opened #35 "List View Improvements"
Necessary fields should be added to the list views:

- All Events
- All contacts
- All Sessions

[2022-03-30 14:49] sgoEma opened #36 "Event Registration Email Notification"
When an event registration is created, we want to send automated emails to the attendee.

Email:

Hi {contact first/last name}

You have successfully registered to the {Event Name} that takes place between {event start date} and {event end date}

Regards,
{ user first / last name}

[2022-03-30 14:49] sgoEma opened #37 "Event Registration Reminder Email Notification"
2 days before an event starts, an email reminder should be sent to the attendees.

Email:

Hi {contact first/last name}

Keep the magic alive!
{Event Name} that you have registered will start in 2 days.

Regards,
{ user first / last name}

[2022-03-31 10:12] sgoEma commented on #9
Estimation : 5

[2022-03-31 10:16] sgoEma commented on #10
Story Point: 2

[2022-03-31 10:19] sgoEma commented on #34
SP: 2

[2022-03-31 10:20] sgoEma commented on #35
SP: 2

[2022-03-31 10:26] sgoEma commented on #29
SP: 5

[2022-03-31 10:29] sgoEma commented on #30
SP: 3

[2022-03-31 10:33] sgoEma commented on #11
SP: 3

[2022-03-31 10:35] sgoEma commented on #31
SP: 3

[2022-03-31 10:37] sgoEma commented on #32
SP: 3

[2022-03-31 10:39] sgoEma commented on #33
SP: 5

[2022-03-31 10:41] sgoEma commented on #36
SP: 5

[2022-03-31 10:43] sgoEma commented on #37
SP: 5

[2022-04-05 07:15] bmtemakina commented on #35
- Events: Name, type, Start Date, End Date, City, Country, Revenue, Number of Registered Attendees.
- Sessions: Name, Public event, Start Date, End Date, Level, Is Mandatory, CSAT Score, Number of Registered Attendees, Speaker, Room Capacity.
- Contacts: Salutation, Name, Title, Account Name, Phone, Email, Dietary of Contact, Contact Type, Contact Record Type.

Are these fields suitable for the sp

[2022-04-07 08:00] bmtemakina commented on #33
Issues for this ticket:

- Solutions:

1. > To establish a many-to-many relationship between Session and Speaker we can create an object called "Speaker Registrations" which has a master-detail relationship for both Speaker and Session.

- Solutions:

1. > We can define a "Before Save Record Triggered Flow" for the Speaker Registration object and add an invisible field to be triggered by flow and

[2022-04-08 10:21] sercanEmakina commented on #33
@bmtemakina
1) could you please consider/think what needs to be done if we use "session registration" objet instead of creating a new one named "speaker registrations" and add your solution approach to the ticket by posting a new comment?

2) could you please elaborate the solution for issue 3? can you provide an example ?

[2022-04-08 12:21] bmtemakina commented on #33
@sercanEmakina @sgoEma
1. If we use "Session Registration" object we can do following steps

     - Create two record type called "Speaker Registration" and "Attendee Registration" for the Session Registration object.
     - Update the Attendee lookup filter to list correct records based on the Session Registration's record type
     - We can exclude Speaker type Session Registration from IsEventR

[2022-04-08 13:43] sgoEma commented on #33
@bmtemakina

Thanks for the solution design and analysis. I want to add some small details:

- Contact Field name is "Attendee" on Session Registration. I think its name should also be changed.
- Session capacity should be tested after the changes are done.

Can you please proceed with the existing object for this ticket?

[2022-04-08 15:19] bmtemakina commented on #33
Okay, I'm on it.

[2022-04-11 09:02] t-gul commented on #36
Issue:  We need an email template to send, and send the email to the attendee when event registration record is created.(automatically)

Solution 1

Create email template(classic or lightning )
Create “Email Alert“ workflow action
Create Workflow rule or Flow (or update existing one)

Solution 2
Create  “send email” action (email created in action)
“After Insert Event Registration” flow
Add this a

[2022-04-11 09:06] sgoEma commented on #36
@t-gul thanks for your solution design and analysis. Can you please describe which email template type you need to use? In addition to that, what is the difference between lightning and classic templates?

Thanks!

[2022-04-11 09:45] t-gul commented on #36
@sgoEma Thanks for yor question. The answer is like that:

Classic Email Templates use Salesforce Merge Language , Classic Letterhead Only

Lightning Email Templates use Handlebars Merge Language(more flexible), Enhanced Letterhead Only ( include  rich text, merge fields, images, links, and other styling extras for the header and footer )

[2022-04-11 10:11] sgoEma commented on #36
@sgoEma what about the email template types? Which one are you planning to use?

[2022-04-11 10:28] t-gul commented on #36
@sgoEma I ‘m planning to use Lightning Email Template, it works only HTML template type
(Classic Email Templates work with Text, HTML, Visualforce )

[2022-04-11 11:27] sgoEma commented on #36
@t-gul ok. Before starting, please also consider deployment for both lightning and classic email templates. There can be some difficulties. Thanks!

[2022-04-12 12:24] sgoEma opened #47 "[SPIKE] Change "Attendee" field API name to "Contact" on Session Registration Object"
Analyze what needs to be done to change the field API name (or create a new field instead of the Attendee)

[2022-04-12 12:24] sgoEma commented on #47
SP: 3

[2022-04-13 13:50] sgoEma opened #48 "Event Registration Cancellation"
- I should be able to cancel an event registration. need to keep canceled records for reporting purposes

- When an event registration is canceled, session registrations under that event should also be canceled.

- If there is no active event registration for an event, session registration can not be created under the sessions of the event

- CANCELED REQUIREMENT: Canceled event registrations shou

[2022-04-13 13:53] sgoEma opened #49 "Session Registration Cancellation"
- I should be able to cancel a session registration. need to keep canceled records for reporting purposes

- When all session registrations under an event is canceled, event registration should also be canceled.

- If there is no active event registration for an event, session registration can not be created under the sessions of the event

- Canceled session registrations should be excluded from

[2022-04-13 13:54] sgoEma opened #50 "Address verification on the Venue"
- Address of the event should be verified before the event is created or at least one of the address fields are updated
#31

[2022-04-13 13:57] sgoEma opened #51 "Communication Preferences"
- I should be able to set communication preferences on Contact object. If the contact wants to receive emails, email field of the contact should be required. If the contact wants to receive calls/sms, phone field should be required.

- If one of the preferences is changed, email/phone fields should be validated again

[2022-04-13 13:59] sgoEma opened #52 "[SPIKE] Send SMS to customers"
I should be able to send automatic SMS to the contacts

[2022-04-13 14:05] sgoEma opened #53 "Date Validation For Sessions does not work properly"
- Currently, we can not create a session with the same start date time and end date time with its event. A session can start at the same time with its event and at the same way it can end at the same time with its event.

[2022-04-13 14:06] sgoEma opened #54 "Session Overlap Validation"
- Currently we have a validation for overlaps on session depending on only the start/end date times.
- The validation should also check the room name. There can be multiple sessions at the same time that belongs to an event. However, there can not be two sessions at the same room and same time frame.
- There cant be multiple sessions under same public event in the same room at the same time frame

[2022-04-13 14:12] sgoEma opened #55 "Mandatory Sesssion Registration Overlap Validations"
An attendee should not be able to register an event that overlaps

reason of exception thrown ;
when a user selects Dreamforce type and creates an event registration, a session registration record is created automatically. Although the event selected is different from other events related to the contact, a session registration exception is thrown, because event selected previously has start time o

[2022-04-13 14:19] sgoEma opened #56 "Fields for Seat plan automation on Session"
1 Event can be executed >= 1 Venue
1 Venue can have >= 1 Room
1 Session can be served in 1 Room
Room Information on Session will be moved to Room(fields, rollups etc).

For Room Consider the seats as a matrix table
- Create a field to keep number of seats in a row
- Create a field to keep the number of seats in a column

[2022-04-13 14:21] sgoEma opened #57 "[Solution Design - TG] Seat planning"
Which specifications can be given for the seat plan. How we can keep and apply the specifications?

[2022-04-13 14:21] sgoEma opened #58 "[Solution Design - BT] Seat planning"
Which options can be given for the seat plan. How we can keep and apply the options?

[2022-04-14 06:36] t-gul commented on #47
@sgoEma @sercanEmakina @secoEmakina
Issue: Change "Attendee" field API name to "Contact" on Session Registration Object
Where it is Used :
Reference Type | Reference Label

FlexiPage | Session_Registration_Record_Page
Flow | After Insert Event Registration
Flow | Before Delete Event Regs
Flow | Before Save Session Registration Validations
Layout | Session Registration Layout
Layout | Contact (Atte

[2022-04-14 07:19] sercanEmakina commented on #47
<img width="382" alt="Screen Shot 2022-04-14 at 10 12 53" src="https://user-images.githubusercontent.com/100766670/163333445-34af7837-6b9e-403a-ab74-7d683ddabdf5.png">
@t-gul  I noticed there are 2 "Before Save Session Registration Validations"  flows, I guess second one is a different flow , is that correct? or is it just a typo error ?

[2022-04-14 07:35] t-gul commented on #47
@sercanEmakina It's just a type error. It is fixed

[2022-04-14 07:53] sercanEmakina commented on #47
<img width="362" alt="Screen Shot 2022-04-14 at 10 40 49" src="https://user-images.githubusercontent.com/100766670/163338478-1fae20a5-dbc6-4853-a80a-0541990fb6ce.png">

@t-gul do we have a flow named "Prevent Duplicate Session Regs" ? is that flow being actively used? if so we need to check what kind of processes are executed in the flow, we might need to move the logic inside that flow to Before

[2022-04-14 10:09] sgoEma commented on #48
SP:8

[2022-04-14 10:10] sgoEma commented on #49
SP:8

[2022-04-14 10:14] sgoEma commented on #51
SP:5

[2022-04-14 10:16] sgoEma commented on #52
SP:3

[2022-04-14 10:19] sgoEma commented on #53
SP:2

[2022-04-14 10:24] sgoEma commented on #54
SP:3

[2022-04-14 10:30] sgoEma commented on #55
SP:3

[2022-04-14 10:33] sgoEma commented on #56
SP:8

[2022-04-14 10:39] sgoEma commented on #57
SP:8

[2022-04-14 10:39] sgoEma commented on #58
SP:8

[2022-04-15 09:27] t-gul commented on #47
@sercanEmakina
"Prevent Duplicate Session Regs" flow  is not actively used
The flow is  deleted from related org and related comment is updated.

[2022-04-15 09:38] sgoEma commented on #47
@t-gul Thanks for the analysis. Are you sure that we must change the references for this change?

[2022-04-15 09:51] t-gul commented on #47
@sgoEma Yes I'm sure. If we don't change them we can't see them at layout or flexipage, and  related flows can result in errors.

[2022-04-15 12:05] sgoEma commented on #47
@t-gul Can you please try to change the name of the field directly in a test environment and share the results?

[2022-04-15 12:18] sgoEma opened #59 "LAST24/NEXT24 TG"

[2022-04-15 12:19] sgoEma opened #60 "LAST24/NEXT24 BMT"

[2022-04-15 12:51] t-gul commented on #47
@sgoEma When I changed the API name of field, It's automatically changed in flows and it doesn't result in errors

We must not change the references  for this change according to test which I did.

But in documentation said that "The changing of API Name without removing references can result in errors being thrown as the operation will be unsupported"

https://help.salesforce.com/s/articleView?id

[2022-04-15 13:59] sgoEma commented on #47
@t-gul I could not totally understand your plan about this. So the references should be removed first and then the field name should be changed is that correct? So will we implement the functions again after changing the name?

[2022-04-15 14:07] sgoEma commented on #59
test

[2022-04-15 14:36] bmtemakina commented on #37
Hi @sgoEma @sercanEmakina,

Solution_1: We can create a Scheduled flow for this issue which does the following steps:

- Set flow on daily schedule.
- Get the Event Records which has 2 days or less time left for event to start.
- Iterate over the those events add get registered attendees and store them in a collection.
- Send email to those attendees.

Solution_2: We can create an After Insert Flo

[2022-04-15 14:42] t-gul commented on #47
@sgoEma Sorry for the confusion,
As we mention on meeting, we can change "Attendee" field API name to "Contact" on Session Registration Object and it will be changed in related flows
After the changing, tests case must be opened and tests must be done for related flows.

[2022-04-18 06:23] t-gul commented on #31
@sgoEma @sercanEmakina Tools for address verification are investigated, presented at meeting. Related documents are shared with related people.

[2022-04-18 06:39] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina

My Last 24 Hour,
- Work on #47 (Environment tests are done with informations)
- ELD Club
- Bootcamp learning for Marketing Admin

My Next 24 Hour,
- Waiting for approve for #47  then I will take a new task from line.
- Write solutions for the task which I will take, and solve the task with chosen solution.
- ELD
- Bootcamp learning for Marketing Admin

Have

[2022-04-18 07:10] bmtemakina commented on #60
Hi @secoEmakina , @sgoEma , @sercanEmakina
#Last 24 Hours:

- I began to search solutions for #37 and wrote two solution analyses.
- I finished the Battle Station App Project badge on the trailhead.

#Next 24 Hours:

- I will be searching for new solutions on #37 and if any of them gets approved I will be implementing the solution.
- For today I will be working on Lightning App Builder Module on T

[2022-04-18 09:09] sgoEma commented on #47
@t-gul thanks! I'm gonna move the ticket under "Ready for Deployment".

[2022-04-18 09:10] sgoEma opened #61 "Rename Attendee Field on Session Registration"
#47

[2022-04-18 09:12] sgoEma commented on #31
@t-gul @bmtemakina  Thanks for the investigation. I'm gonna move the ticket under "Ready for Deployment"

[2022-04-18 09:45] t-gul commented on #53
Hi @sgoEma @sercanEmakina,

Solution:
- Validation rule “Validate_Date” under "Session" object condition formula must be updated for given scenario

Best,

TG

[2022-04-18 09:56] sgoEma commented on #53
@t-gul Thanks for the solution and analysis. You can proceed with the solution. Thanks!

[2022-04-18 11:17] bmtemakina commented on #37
Hi @sgoEma , @sercanEmakina

Solution_2 improved: I decided to use solution_2 with some improvements like the following steps:

- Create an after insert flow for Event object.
- On after insert flow set up an scheduled path to run 2 days before the event's start date/time
- On that path get related Event Registrations
- Loop through the registrations and collect attendees' email on a collection
-

[2022-04-18 13:31] t-gul commented on #48
Hi @sgoEma @sercanEmakina,

Scenario Problem_1: We should be able to cancel an event registration. need to keep canceled records for reporting purposes
Problem Solution:
- Boolean field can be created to control for active or not (cancelled) for event registration

Scenario Problem_2: When an event registration is canceled, session registrations under that event should also be canceled.
Problem So

[2022-04-18 14:46] sgoEma commented on #37
@bmtemakina Thanks for the analysis. Because event dates can be editable, I think we should add automation on update too. But then the insert automation may send email too and we may have duplicate reminders. You can proceed with solution 2. However, please consider date changes

[2022-04-18 14:52] sgoEma commented on #48
@t-gul about
scenario problem_2, I could not follow why we need to modify "Before Delete Event Regs"?
scenario problem_3 and scenario problem_4, why you are modifying validation rule for the 3 and the flow for 4. What is the difference between these implementations/requirements?

Thanks

[2022-04-18 15:57] t-gul commented on #48
Thanks for warning @sgoEma ,
Flow "Before Delete Event Regs" name is edited with true and related flow "Create Event Registration Id & Fill Registration Fee"
My comment is changed with new one for Scenario Problem_4

[2022-04-19 06:41] bmtemakina commented on #60
Hi @sgoEma , @secoEmakina , @sercanEmakina ,

#Last 24 Hours:

- I started to implement chosen solution for #37 . I created the after insert flow and added an scheduled path to it for sending emails.
- I tested the flow a little.
- I finished the Lightning App Builder Module on Trailhead.

#Next 24 Hours:

- I'm going to test the flow that I created for #37 , find a solution for date updates, and

[2022-04-19 06:42] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

My Last 24 Hour,
- I worked on #53, opened PR
- I wrote solutions for the #48
- Bootcamp learning for Marketing Admin

My Next 24 Hour,
- Waiting for approve for #62  task PR then I will merge it
- I’m waiting for solution choice, then I will work on #48
- Bootcamp learning for Marketing Admin

Have a nice day

[2022-04-19 11:48] t-gul commented on #48
Thanks for update @sgoEma @sercanEmakina

My comment is updated with new solutions for New Scenario Problem_4

Best,

[2022-04-19 13:14] bmtemakina commented on #37
Hi @sercanEmakina @sgoEma ,
I noticed that email action in flow allows up to 5 recipients and I can't send personalized email with one action at the end. Can I use the send email action in loop or it would be not ideal to use email action in a loop ?
Best,

[2022-04-20 07:07] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

My Last 24 Hour,
- I merged PR #62
- I  worked on solutions for task  #48
- Bootcamp learning for Marketing Admin

My Next 24 Hour,
- I will work on #48 , I will open PR for this task.
- ELD
- Bootcamp learning for Marketing Admin
- I will do Maintenance of Certificate "Marketing Cloud Email Specialist"

Have a nice day

[2022-04-20 07:08] bmtemakina commented on #60
Hi @sgoEma  , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- I came across with a little problem on #37 but solved it and just waiting for solution approval.
- I tested the flow with multiple cases.
- I created a draft Pull Request with test cases.
- ELD
- I started to App Customization Specialist SuperBadge on Trailhead.

#Next 24 Hours:

- If new update on solution is acceptable, I will ope

[2022-04-20 07:19] t-gul commented on #48
Hi @sgoEma @sercanEmakina,

For New Scenario Problem_4 / Solution_2 need some requirements:

- I need to create “Cancelled Text” text field for matching rule of duplicate rule
- Fill it with “Cancelled” boolean field value via flow “Create Event Registration Id & Fill Registration Fee”.

Because we can't use  “Cancelled” boolean field for matching rule.

Best,

[2022-04-20 12:34] bmtemakina commented on #55
Hi @sercanEmakina , @sgoEma ,

Solution_1: On Before Save Session Registration Validations Flow, we can create a decision element for checking the if the related Session is mandatory right before entering to the overlap check and exclude mandatory Sessions from overlap check.
Is it okay for me to use this solution?

Best,

[2022-04-20 13:38] t-gul commented on #48
Sorry for update @sgoEma @sercanEmakina ,

We can update other records only after triggered flows, so I can’t use “Create Event Registration Id & Fill Registration Fee”( It’s before trigger),
We have after triggered flow “After Insert Event Registration” and it’s only for insert record , I will update status with created or updated, then I will cancel session registrations under cancelled event re

[2022-04-20 13:55] sercanEmakina commented on #55
well, I really can't answer your question , is it ok for you to use this solution? are you asking to us or yourself :)

[2022-04-20 14:19] bmtemakina commented on #55
[Sorry for the confusion. The question was meant for you :)](https://youtu.be/dU4lYcN6zEY)

[2022-04-20 14:25] sercanEmakina commented on #55
hahahasasdasdasd :D then sure it's ok.

[2022-04-20 15:30] sercanEmakina commented on #55
https://www.youtube.com/watch?v=LpJOxbaC8YU

efsaneyi unutmayalım

[2022-04-21 06:16] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

My Last 24 Hour,
- I worked on #48.
- ELD
- Bootcamp learning for Marketing Admin
- I did Maintenance of Certificate "Marketing Cloud Email Specialist"

My Next 24 Hour,
- I will continue work on #48 , I will open PR for this task merge it.
- Take new task, after merge is completed
- Bootcamp learning for Marketing Admin

Have a nice day

[2022-04-21 07:12] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- I finished #37 task and merged it after PR got approved.
- I wrote a solution for #55 and implemented it
- I finished App Customization Specialist SuperBadge on Trailhead.

#Next 24 Hours:

- I'm going to open a Pull Request after few test for #55 .
- I'm going to make a solution analysis for the new Task and then implement the chose

[2022-04-21 09:25] t-gul commented on #48
Hi @sgoEma @sercanEmakina ,

Filter is added to roll-up summary fields on "Public Event" object. (Cancelled event registrations is not counted for these fields.)

Best,

[2022-04-21 10:07] sercanEmakina commented on #37
@bmtemakina could you please write test case(s) for this particular implementation?

[2022-04-21 13:04] bmtemakina commented on #37
You need to create these Contact for test:

- Contact_1: Record type: Attendee, email: your email (you can fill other fields as you wish)
- Contact_2: Record type Attendee, email: another email of you (you can fill other fields as you wish)
- Contact_3: Record type: Attendee, email: needs to be empty (you can fill other fields as you wish)

To create these Contact Records;
1. Click On the contacts

[2022-04-21 13:15] sercanEmakina commented on #37
Thank you ! well done , that's dope

[2022-04-22 06:34] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

My Last 24 Hour,
- I worked on #48 , I opened #64.
- Bootcamp learning for Marketing Admin

My Next 24 Hour,
- Waiting for approve #64
- Take new task, after merge is completed
- Review #65
- ELD Club
- Bootcamp learning for Marketing Admin

Have a nice day

[2022-04-22 07:11] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- I finished #65 and created a draft Pull Request.
- ELD
- I finished Change Set Development Model Badge on Trailhead.
- I updated the test cases for #37 .
- I reviewed the changes on #64

#Next 24 Hours:

- I'm going to merge the changes if PR gets approved.
- I'm going make solution analysis for the new task.
- ELD
- I'm going to be

[2022-04-25 06:53] t-gul commented on #51
Hi @sgoEma @sercanEmakina ,

Do you want to see different error messages for each communication type. (if the communication tool/tools  is chosen, but the communication tool/tools information isn’t set) Or the one error message is enough for all communication type ?

Have a nice week

[2022-04-25 06:57] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- I opened a PR.
- I made a little research for #49 solutions.
- I finished the Org Development Model module on Trailhead.
- ELD

#Next 24 Hours:

- I'm going to write solution for #49 and then will implement the solution.
- I'm going to finish the Data Modeling and App Deployment module and then look up example questions for the App B

[2022-04-25 07:23] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

My Last 24 Hour,
- I merged #64.
- I reviewed #65
- I took #51
- I had a meeting with @bmtemakina
- ELD Club
- Bootcamp learning for Marketing Admin

My Next 24 Hour,
- I will write solution for #51, and work on it.
- ELD
- Bootcamp learning for Marketing Admin

Have a nice week

[2022-04-25 10:42] sgoEma commented on #51
@t-gul One generic message is enough for the scenarios.

[2022-04-25 10:51] t-gul commented on #51
Thanks for information.

[2022-04-25 10:52] t-gul commented on #51
Hi @sgoEma @sercanEmakina,

Scenario Problem_1: Communication preferences is able to set on Contact object.
Problem Solutions:

Problem Solution_1:
- Create multi pick-list field to choose communication preferences

Problem Solution_2(Chosen One):
- Create checkbox field for each communication preferences

Scenario Problem_2: If the contact wants to receive emails, email field of the contact shoul

[2022-04-25 10:58] sgoEma commented on #51
@t-gul Please provide more solutions

[2022-04-25 12:26] t-gul commented on #51
@sgoEma  One more solution is added to comment for Scenario Problem_2 and Scenario Problem_3.

[2022-04-25 12:30] sgoEma commented on #51
@t-gul for the first problem I think you are missing standard features

[2022-04-25 13:25] t-gul commented on #51
@sgoEma Thanks for info, I' searching it now.

[2022-04-25 13:29] bmtemakina commented on #49
Hi @sgoEma , @sercanEmakina ,
Here is my first solution,

Solution_1: We already have "cancelled" checkbox on Session Registration Records and Before Save Session Registration Validations which gets triggered on create. With the following steps below we can solve this ticket:

   - Set Before Save Session Registration Flow's trigger to be on create or on update.
   - Check for only the Active Even

[2022-04-26 06:26] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

My Last 24 Hour,
- I wrote solution for #51, and worked on it.
- ELD
- Bootcamp learning for Marketing Admin

My Next 24 Hour,
- I'll keep working on #51
- Bootcamp learning for Marketing Admin

Have a nice day

[2022-04-26 07:25] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- I wrote a solution for #49 .
- I finished the Data Modeling and App Deployment module on Trailhead
- I Looked up some example questions for App Builder exam

#Next 24 Hours:

- If solution for #49 gets approved, I will start to implement it.
- I'm waiting for PR approval
- ELD
- I'm going to study for App Builder exam.

Best,

[2022-04-27 06:36] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

My Last 24 Hour,
- I worked on #51 and open #66
- Bootcamp learning for Marketing Admin

My Next 24 Hour,
- Waiting for approval for #66
- Preparing for the sprint demo
- ELD
- Bootcamp learning for Marketing Admin

Have a nice day

[2022-04-27 08:06] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- I merged my PR.
- I studied example questions for App Builder exam.
- ELD
- Some preparation for Sprint Demo 3

#Next 24 Hours:

- I'm going to prepare for Sprint Demo 3
- I'm going to study for App Builder exam.
- I'm going to study some modules on Trailhead again.

Best,

[2022-04-27 14:29] t-gul opened #67 "[BugFix] Mandatory Session Registration"
We had an issue on "After Insert Update Event Registration" flow which is created for mandatory sessions registrations at #6:

- When the flow works for getting mandatory sessions, It's getting all mandatory sessions from all public events and tries to register for those sessions. (Flow must work to register only mandatory sessions which is under the related public event.)

- Because related Atten

[2022-04-28 06:43] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

My Last 24 Hour,
- I merged  #66
- We prepared for the sprint demo
- We presented sprint demo
- I created #67
- ELD

My Next 24 Hour,
- I will take new task and work on it.
- Bootcamp learning for Marketing Admin

Have a nice day

[2022-04-28 07:15] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- We presented the Sprint Demo 3.
- I looked up some modules on Trailhead.
- I examined questions for App Builder.

#Next 24 Hours:

- I will continue to study for App Builder.
- ELD
- I may will continue to tasks for Event Management.

Best,

[2022-04-29 07:42] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- I continued to study for App Builder
- ELD

#Next 24 Hours:

- I'll examine some tasks on Event Management
- I'll continue to study for App Builder
- I'll examine the POC
- ELD

Best,

[2022-04-29 07:50] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

In my Last 24 Hours,

- Bootcamp learning for Marketing Admin

My Next 24 Hour,

- I will take #57
- I will work on PoC
- Bootcamp learning for Marketing Admin
- ELD

Have a nice day

[2022-04-29 08:41] secoEmakina opened #68 "Documentation"
Here is the project documentation page : https://emakinatr.atlassian.net/wiki/spaces/SPT/pages/3305373697/Event+Management+App

Please create your pages and fill them with technical details for each objct/fields/validation rule/flow/process builder/trigger/class/page/component etc. If any of them need please also draw a diagram.
VisualDesigner you can use this tool to draw.

[2022-05-05 07:01] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- Examined the POC
- Examined example App Builder questions

#Next 24 Hours:

- Work on #49
- Examine POC
- Study for App Builder

Best,

[2022-05-05 07:26] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

In my Last 24 Hours,

- I worked on PoC
- Bootcamp learning for Marketing Admin
- ELD

My Next 24 Hour,

- I will take #57 and work on it.
- Bootcamp learning for Marketing Admin

Have a nice day

[2022-05-06 07:05] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- Worked on #49
- Studied example App Builder questions

#Next 24 Hours:

- Continue to work on #49
- Study for App Builder

Best,

[2022-05-09 06:42] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

In my Last 24 Hours,

- I worked on #57
- Bootcamp learning for Marketing Admin

My Next 24 Hour,

- I’ll continue to work on #57
- I’ll study for MC Administrator Certification

Have a nice day

[2022-05-09 07:35] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- Finished #49 .
- Studied example App Builder questions.

#Next 24 Hours:

- Test the #49 solution and write Test Cases.
- Continue to study for App Builder.

Best,

[2022-05-10 08:01] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- Tested the #49 and fixed some bugs
- Studied for App Builder

#Next 24 Hours:

- Work on test cases for #49
- App Builder study

Best,

[2022-05-10 08:33] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

In my Last 24 Hours,

- I worked on #57
- I studied for MC Administrator Certification

My Next 24 Hour,

- I’ll continue to work on #57
- I’ll study for MC Administrator Certification

Have a nice day

[2022-05-10 14:31] t-gul commented on #57
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

I have searched for seat planning, and I found some solutions. Solutions are in the solution document.

Solution document :
[Solution Design Seat Planning.docx](https://github.com/sgoEma/EventManagement/files/8662378/Solution.Design.Seat.Planning.docx)

All the best

[2022-05-11 07:59] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- Tested the #49 and fixed some bugs.
- Worked on test cases.

#Next 24 Hours:

- Finish test cases.
- Study for App Builder

Best,

[2022-05-11 08:25] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

In my Last 24 Hours,

- I worked on #57, and created a solution document.
- I studied for MC Administrator Certification

My Next 24 Hour,

- I’ll study for MC Administrator Certification

Have a nice day

[2022-05-12 08:28] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

In my Last 24 Hours,

- I studied for MC Administrator Certification

My Next 24 Hour,

- I’ll study for MC Administrator Certification

Have a nice day

[2022-05-12 08:35] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina ,

#Last 24 Hours:

- Wrote test cases for #49.
- Studied for App Builder.

#Next 24 Hours:

- Open a PR for #49.
- Continue with #54.
- Continue to study for App Builder.

Best,

[2022-05-13 08:28] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina,

In my Last 24 Hours,

- I studied for MC Administrator Certification
- I studied for Custom Metadata

My Next 24 Hour,

- I’ll study for MC Administrator Certification
- I’ll study for TDD(Test Driven Development)
- I’ll review #69

Have a nice day

[2022-05-13 09:13] alpertungagulbahar opened #70 "Venue Plan for Event"
1 Event can be executed >= 1 Venue
1 Venue can have >= 1 Room
1 Session can be served in 1 Room

Venues holds rooms and rollups(capacity etc.)
Venues will have its own meta data(Name, Address etc.)
Optional : Google Maps Integration

[2022-05-13 09:14] alpertungagulbahar opened #71 "Event Information Update"
1 Event can be executed >= 1 Venue
1 Venue can have >= 1 Room
1 Session can be served in 1 Room

Every event will have a main Venue.
All venues are related to Event and be listed.

[2022-05-13 09:23] alpertungagulbahar commented on #71
![EM](https://user-images.githubusercontent.com/90464474/168253763-092861b5-3551-4d0e-b444-ba78a67c01ab.jpg)

[2022-05-13 09:27] alpertungagulbahar opened #72 "Mandatory Sessions"
Mandatory Sessions can only be defined in the Main Venue

[2022-05-13 09:41] alpertungagulbahar opened #73 "Create Rest Services for Session Registration"
Event Object Rest Service
Gets the Event ID parameter and Contact ID returns below models.

Event Registration
Unregister option will be executed here.

Session Registration
Mandatory sessions will be checked and grayed out
Optional sessions can be managed(register/unregister)

[2022-05-13 09:42] alpertungagulbahar opened #74 "Post Operation for Event & Session Registration with Rest Service"
Event Registration and Session Registration Rest Service should get POST requests.
Event Registration and Session Registration updates according to the action executed by the user.

[2022-05-13 09:44] alpertungagulbahar opened #75 "List Registrations with Rest Service"
Get request should be served for both Session and Event registration objects that lists the items.

[2022-05-13 09:46] alpertungagulbahar opened #76 "Update Email with Event URL to manage Registrations"
The URL should carry necessary information to match the requests to proper users, events and sessions.

[2022-05-13 09:46] alpertungagulbahar opened #77 "Create Heroku App"

[2022-05-13 09:47] alpertungagulbahar opened #78 "Create Vue project to List / Update Registrations for Event with ID"
Give Event Details
List Registrations with Session names and checkboxes(registered/not registered), Room, hour, Date etc.
There will be a submit button, submit button will check whether capacity is available.

[2022-05-13 09:58] alpertungagulbahar commented on #50
SP:5

[2022-05-13 10:02] alpertungagulbahar commented on #61
SP:3

[2022-05-13 10:06] alpertungagulbahar commented on #68
SP:8

[2022-05-13 10:07] alpertungagulbahar opened #79 "Getting Address to the Event from Main Vanue"
Event Address will stay.
If Event Address is empty, it should show Main Venue address.
When Main Venue changes, Event Address will not change.
If there is no main Venue, Event Address will be left empty.
It is possible to edit the Event Address manually.

PS: Test Google Maps.

[2022-05-13 10:14] alpertungagulbahar commented on #79
SP:8

[2022-05-13 10:16] alpertungagulbahar commented on #70
SP:8

[2022-05-13 10:17] alpertungagulbahar commented on #71
SP:13

[2022-05-13 10:18] alpertungagulbahar commented on #72
SP:5

[2022-05-13 10:21] alpertungagulbahar commented on #73
SP:13

[2022-05-13 10:30] alpertungagulbahar commented on #74
SP:5

[2022-05-13 10:30] alpertungagulbahar commented on #75
SP:8

[2022-05-13 10:33] alpertungagulbahar commented on #76
SP:2

[2022-05-13 10:34] alpertungagulbahar commented on #77
SP:13

[2022-05-13 10:37] alpertungagulbahar opened #80 "Authorization between Salesforce and Vue App - Connected App"

[2022-05-13 10:37] alpertungagulbahar commented on #78
SP:20

[2022-05-13 10:38] alpertungagulbahar commented on #80
SP:8

[2022-05-16 08:24] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I studied for MC Administrator Certification
- I studied for TDD(Test Driven Development)
- I reviewed #69

My Next 24 Hour,

- I’ll study for MC Administrator Certification
- I’ll work on #67

Have a nice day

[2022-05-17 06:50] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina , @alpertungagulbahar ,

#Last 24 Hours:

- I opened the  #69 PR.
- I started to the #58 task.
- I examined App Builder Questions.

#Next 24 Hours:

- I will merge #49
- I will continue to work on #58 task.
- I will continue to study for App Builder

Best,

[2022-05-17 08:24] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I studied for MC Administrator Certification
- I worked on #67

My Next 24 Hour,

- I’ll continue work on #67 and open PR
- I’ll study for MC Administrator Certification

Have a nice day

[2022-05-18 06:56] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina , @alpertungagulbahar ,

#Last 24 Hours:

- I merged the #69 .
- I continued to work on #58 task.
- I studied for App Builder exam.

#Next 24 Hours:

- I will finish the #58 task and start to the next task.
- I will examine the App Builder exam questions.

Best,

[2022-05-18 08:42] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I studied for MC Administrator Certification
- I worked on #67 and opened #81

My Next 24 Hour,

- I’ll be waiting for the #81 review
- I’ll study for MC Administrator Certification
- If the #81 will be approved, I’ll be getting a new task

Have a nice day

[2022-05-20 08:01] bmtemakina commented on #58
[BT Seat Planning Solution Design](https://epam-my.sharepoint.com/:w:/p/mehmet_topuz/EYwamGXb39NCitEveRjN3wkBvqttdP50KXdO531qamj0bw?e=9hbX6i)

[2022-05-20 08:30] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I had been waiting for a review for #81
- I studied for MC Administrator Certification

My Next 24 Hour,

- I’ll be waiting for the #81 review
- I’ll study for MC Administrator Certification
- If the #81 will be approved, I’ll be getting #70
- I’ll write solutions for #70

Have a nice day

[2022-05-20 14:45] t-gul commented on #70
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

- Test Class can be written for each step, then steps can be done.

- “Venue”, “Room” and “Public Event Venue” objects can be created
- “Venue”(Master-Detail(Venue)) under the “Room” object
- “Venue”(Master-Detail(Venue)) and The “Public Event”(Master-Detail(Public Event)) fields can be created under the “Public Event Venue” object
- The

[2022-05-23 08:20] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I had been waiting for a review for #81
- I studied for MC Administrator Certification
- I wrote solutions for #70

My Next 24 Hour,

- I’ll be waiting for the #81 review
- I’ll study for MC Administrator Certification
- I’ll work on  #70

Have a nice day

[2022-05-23 08:28] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina , @alpertungagulbahar ,

#Last 24 Hours:

- I made a research about flow test classes.
- Studied for App Builder.

#Next 24 Hours:

- Waiting for #70 because I think this task blocks the other tasks.
- Continue to study for App Builder.

Best,

[2022-05-23 14:09] bmtemakina commented on #54
Hi @sgoEma, @sercanEmakina, @secoEmakina,  @alpertungagulbahar,

Here is my solution for this task.

Solution:

- Create a hidden checkbox field on Session.
- Create a validation rule which be triggered when the hidden checkbox gets checked.
- Create a Before Save and Update Session Flow.
    - Get the records with the same room name and same time period as the triggering Session record.
      - I

[2022-05-24 13:48] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I had been waiting for a review for #81
- I studied for MC Administrator Certification
- I work on #70

My Next 24 Hour,

- I’ll be waiting for the #81 review
- I’ll study for MC Administrator Certification
- I’ll work on  #70 and open PR

Have a nice day

[2022-05-25 07:33] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I had been waiting for a review for #81
- I studied for MC Administrator Certification
- I worked on  #70 and opened #82

My Next 24 Hour,

- I’ll be waiting for the #81 review
- I’ll be waiting for the #82 review
- I’ll study for MC Administrator Certification
- I’ll write solutions for #71 and work on it

Have a

[2022-05-25 07:37] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina , @alpertungagulbahar ,

#Last 24 Hours:

- Worked on #54 .
- Wrote a test class for Before Insert and Update Session Flow.

#Next 24 Hours:

- Finish #54 and open a PR.
- continue with the next task.

Best,

[2022-05-25 07:38] t-gul commented on #71
Solutions:

Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

- Test Class can be written for each step, then steps can be done.

- The “Main Venue”(Lookup(Venue)) field can be created under the “Public Event” object and set as a required field.

- The “Main Venue” field can be added under the related list via record detail components on the “Public Event” record page(If we need it).

B

[2022-05-26 07:05] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I merged #81 and #82
- I wrote solutions for #71 and worked on it

My Next 24 Hour,

- I’ll continue to work on #71 and open PR for it
- I’ll be working on Sprint Demo
- I’ll study for MC Administrator Certification

Have a nice day

[2022-05-26 15:57] t-gul commented on #79
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

- Test Class can be written for each step, then steps can be done.
- “City” and “Country” fields under the “Public Events” object can be set as “not required” fields
- “Before Insert Update Public Event” flow can be updated. It can set Address information of “Public Events” from Main Venue, İf  it’s not set at “Public Event”

Best,
TG

[2022-05-27 14:18] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I worked on #71 and opened #84
- I worked on Sprint Demo
- I studied for MC Administrator Certification

My Next 24 Hour,

- I’ll work on #79
- I’ll merge #84, if it is approved
- I’ll do Sprint Demo
- I’ll study for MC Administrator Certification

Have a nice day

[2022-05-30 06:37] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I worked on #79
- I merged #84
- We did Sprint Demo
- I studied for MC Administrator Certification

My Next 24 Hour,

- I’ll work on #79 and open PR
- ELD
- Language Training
- I’ll study for MC Administrator Certification

Have a nice week

[2022-05-30 08:12] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina , @alpertungagulbahar ,

#Last 24 Hours:

- Sprint 5 demo
- research for #50

#Next 24 Hours:

- Merge #83 .
- I will work on #50

Best,

[2022-05-30 12:01] bmtemakina opened #86 "Documentation User Manual"
Here is the project documentation page : https://emakinatr.atlassian.net/wiki/spaces/SPT/pages/3305373697/Event+Management+App

Please create your user manual. If any of them need please also draw a diagram.
VisualDesigner you can use this tool to draw.

[2022-05-30 15:30] t-gul commented on #72
Solutions:

Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

- Test Class can be written for each step, then steps can be done.
- “Mandatory Session Validation” validation rule can be created under the “Session” object

Best,
TG

[2022-05-31 06:54] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I worked on #79 and opened #85
- I worked on #72 and opened #87
- ELD
- Language Training

My Next 24 Hour,

- I’ll work on a new task
- I’ll study for MC Administrator Certification

Have a nice day

[2022-05-31 11:05] t-gul commented on #56
Solutions:

Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

- Test Class can be written for each step, then steps can be done.
- Test Classes which was written before can be updated with new field requirements
- “Number of Row Seats”, and “Number of Column Seats” fields can be created under the “Room” object.
- “Room Capacity”, and “Room Total Capacity” fields can be changed or update

[2022-06-01 08:22] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I worked on #56 and write solutions
- I studied for MC Administrator Certification

My Next 24 Hour,

- I’ll work on #56 and open PR
- I’ll study for MC Administrator Certification
- I’ll attend the Salesforce Days Kick-Off

Have a nice day

[2022-06-01 11:52] bmtemakina commented on #60
Hi @sgoEma , @sercanEmakina , @secoEmakina , @alpertungagulbahar ,

#Last 24 Hours:

- Request for Address Finder app installation.
- App Builder study.
- Merged #83 .
- health maintenance :)

#Next 24 Hours:

- I will work on #68 .
- Salesforce global kick-off event.

Best,

[2022-06-02 07:56] t-gul commented on #59
Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

In my Last 24 Hours,

- I worked on #56 and opened #88
- I attended the Salesforce Days Kick-Off
- I studied for MC Administrator Certification

My Next 24 Hour,

- I’ll attend the Marketing Cloud Consultant Webinar
- I’ll attend the Marketing Cloud Administrator Webinar
- I’ll work on a new task if I have time

Have a nice day

[2022-06-03 15:08] t-gul commented on #52
Solutions:

Hi @sgoEma @sercanEmakina @secoEmakina @alpertungagulbahar,

- We can install the “ClickSend SMS” third party app from Appexchange
- We can use "send Sms action”(it’s activated by the “ClickSend SMS” app) at flow and we can send personalized SMS to contacts
- More applications can be tried instead of the “ClickSend SMS"

Best,
TG